<main>

  <div class="container">
    <div class="row justify-content-end ">
      <div class="col-md-11">
        <div class="row">
          <div class="d-flex post-entry mt-5">
            <form action="/admin/edit-product/{{session.productDataByEdit._id}}" enctype="multipart/form-data"
              method="post" id="myform">


              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">


                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Product
                    Name</label>
                  <input type="text" class="form-control" id="recipient-name"
                    value="{{session.productDataByEdit.Product_Name}}" name="Product_Name" required />
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Category
                    Name</label>
                  <select class="form-select" id="inputGroupSelect01" name="Category_Name" required>

                    {{#each session.categorydata}}
                    <option value="{{this._id}}" name="option">{{this.Category_Name}}
                    </option>
                    {{/each}}

                  </select>
                </div>
                {{!-- <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Sub Category
                    Name</label>
                  <select class="form-select" id="inputGroupSelect01" name="Sub_Category_Name">

                    {{#each session.subcategorydata}}
                    <option value="{{this._id}}" name="option">
                      {{this.Sub_Category_Name}}</option>
                    {{/each}}

                  </select>
                </div> --}}
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Product
                    Description</label>
                  <textarea class="form-control" id="message-text" name="Product_Description"
                    required>{{session.productDataByEdit.Product_Description}}</textarea>
                </div>

                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Product
                    Prize/kg</label>
                  <input type="number" class="form-control" id="recipient-name"
                    value="{{session.productDataByEdit.Product_Prize}}" name="Product_Prize" required />
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Order
                    Limit</label>
                  <input type="number" class="form-control" id="recipient-name"
                    value="{{session.productDataByEdit.order_limit}}" name="order_limit" required />
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Total Stock</label>
                  <input type="number" class="form-control" id="recipient-name"
                    value="{{session.productDataByEdit.Total_Stock}}" name="Total_Stock" required />
                </div>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Product
                    Image</label>
                  <input type="file" class="form-control" multiple id="recipient-name" name="image" required />
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary"
                  onclick="return confirm('Are you want to edit?')">Edit</button>
              </div>


          </div>
        </div>


        </form>

      </div>
    </div>
  </div>
  </div>
  </div>
</main>