<main>

  <div class='container'>
    <div class='row justify-content-end'>
      <div class='col-md-11'>
        <div class='row'>

          <div class='col-md-12'>
            <div class='row mt-3'>
              <button type='button' class='btn btn-danger'>User Details
              </button>
              <div class='d-flex post-entry'>
                <table
                  id='example'
                  class='table table-striped table-light table-bordered border-primary mt-2'
                  style='width:100%'
                >
                  <thead>
                    <tr>
                      <th>Company name</th>
                      <th>Mobile number</th>
                      <th>E-mail</th>
                      <th>User Status</th>
                      <th>BLOCK</th>
                    </tr>
                  </thead>
                  <tbody>

                    {{#each session.userdata}}
                      <tr>
                        <td>{{this.Company_Name}}</td>
                        <td>{{this.Mobile_Number}}</td>
                        <td>{{this.User_Email}}</td>
                        {{#if this.User_status}}
                          <td>ACTIVE</td>
                        {{else}}
                          <td>BLOCKED</td>
                        {{/if}}
                        {{#if this.User_status}}
                          {{!-- <td>
                          <a href="/block-user/{{this._id}}" class="btn btn-danger" type="button"
                            onclick="return confirm('Are you want to block user{{this.Company_Name}}?')">BLOCK</a>
                        </td>
                        {{else}}
                        <td>
                          <a href="/active-user/{{this._id}}" class="btn btn-danger" type="button"
                            onclick="return confirm('Are you want to active user{{this.Company_Name}}?')">ACTIVE</a>
                        </td> --}}
                        {{/if}}

                        {{#if this.User_status}}
                          <td>
                            <a
                              class='btn btn-danger'
                              type='button'
                              data-bs-toggle='modal'
                              data-bs-target='#blockmodal{{this._id}}'
                            >BLOCK</a>
                          </td>
                        {{else}}
                          <td>
                            <a
                              class='btn btn-danger'
                              type='button'
                              data-bs-toggle='modal'
                              data-bs-target='#activemodal{{this._id}}'
                            >ACTIVE</a>
                          </td>
                        {{/if}}
                        <div id='blockmodal{{this._id}}' class='modal fade'>
                          <div class='modal-dialog'>
                            <div class='modal-content'>
                              <div class='modal-header'>
                                <h5
                                  class='modal-title'
                                  id='exampleModalLabel'
                                >Are you want to block user of
                                  {{this.Company_Name}}</h5>
                                <button
                                  type='button'
                                  class='btn-close'
                                  data-bs-dismiss='modal'
                                  aria-label='Close'
                                ></button>
                              </div>
                              <div class='modal-body'>
                                <h1>Submitt details</h1>
                              </div>
                              <div class='modal-footer'>
                                <button
                                  type='button'
                                  class='btn btn-secondary'
                                  data-bs-dismiss='modal'
                                >Close</button>

                                <a href='/admin/block-user/{{this._id}}'><button
                                    class='btn btn-secondary'
                                    type='submit'
                                  >BLOCK</button></a>

                              </div>
                            </div>
                          </div>
                        </div>
                        <div id='activemodal{{this._id}}' class='modal fade'>
                          <div class='modal-dialog'>
                            <div class='modal-content'>
                              <div class='modal-header'>
                                <h5
                                  class='modal-title'
                                  id='exampleModalLabel'
                                >Are you want to active user of
                                  {{this.Company_Name}}</h5>
                                <button
                                  type='button'
                                  class='btn-close'
                                  data-bs-dismiss='modal'
                                  aria-label='Close'
                                ></button>
                              </div>
                              <div class='modal-body'>
                                <h1>Submitt details</h1>
                              </div>
                              <div class='modal-footer'>
                                <button
                                  type='button'
                                  class='btn btn-secondary'
                                  data-bs-dismiss='modal'
                                >Close</button>

                                <a href='/admin/active-user/{{this._id}}'><button
                                    class='btn btn-secondary'
                                    type='submit'
                                  >active</button></a>

                              </div>
                            </div>
                          </div>
                        </div>
                      </tr>
                    {{/each}}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

