<style>
    .card-add {
        margin-left: 10px;
        width: 250px;
    }

    .deliver-to {
        background-color: #f0c14b;
        padding: 3px 35px 5px 35px;
        border-radius: 4px;
    }

    .deliver-to-span {
        font-size: 13px;
        color: black;
    }

    .deliver-edit {
        background-color: #f3eddd;
        padding: 0px 28px 1px 35px;
        height: 22px;
        border-radius: 4px;
        border-style: ridge;
    }

    .deliver-edit-span {
        font-size: 10px;
        color: black;
    }
</style>


<div class="container-fluid bg-light bg-icon mb-5">
    <div class="container">
        <div class='row row-mai  d-flex justify-content-center mt-0 align-items-center h-100'>
            <div class='col col-lg-12 mt-3 mb-5 mb-lg-0'>
                <div class='card mb-3' style='border-radius: .5rem;padding: 40px 38px;border-radius: 0px;'>

                    <div class='row '>
                        <h1 class="address-head">Select a delivery address</h1>
                        <hr class='mt-0 mt-4' />
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Add Delivery Address
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class='col-md-12'>
                            <div class='card-body pl-2'>                             
                                <form action="">
                                    <hr class='mt-0 mb-4' />
                                    <div class='row pt-1'>
                                        <div class='col-6 mb-3'>
                                            <h6>Full Name</h6>
                                            <input type="text">
                                        </div>
                                        <div class='col-6 mb-3'>
                                            <h6>Mobile Number</h6>
                                            <input type="text">
                                        </div>
                                        <div class='col-6 mb-3'>
                                            <h6>Pin Code</h6>
                                            <input type="text">
                                        </div>
                                        <div class='col-6 mb-3'>
                                            <h6>Area, Street, Sector, Village</h6>
                                            <input type="text">
                                        </div>
                                        <div class='col-6 mb-3'>
                                            <h6>Landmark</h6>
                                            <input type="text">
                                        </div>
                                        <div class='col-6 mb-3'>
                                            <h6>Town/City</h6>
                                            <input type="text">
                                        </div>
                                        <div class='col-6 mb-3'>
                                            <h6>Country</h6>
                                            <input type="text">
                                        </div>
                                        <div class='col-6 mb-3'>
                                            <h6>State</h6>
                                            <input type="text">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class='col-lg-12 mb-3 justify-content-start'>
                            <div class="text-center pe-4">
                                <span class="a-button-inner"><input class="a-button-input" value="Use this address"
                                        type="submit" style="width: 200px;background-color:#f0c14b;"></span>
                            </div>
                        </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Select already applied address
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="row row-cols-2 row-cols-lg-3 mt-0  row-cols-xl-3"
                                        style="    margin-left: calc(var(--bs-gutter-x) / -4);">
                                        {{#each userAddress.address}}
                                        <div class=' mb-3 card-add pb-2'>
                                            <div class="ya-card-cell">
                                                <h6 class="pt-2 m-0">Mr {{this.name}}</h6>
                                                <div><span class="address-text">Lulu-hyper</span></div>
                                                <div><span class="address-text">{{this.street}}</span></div>
                                                <div><span class="address-text">PO:{{this.pincode}}</span></div>
                                                <div><span class="address-text">{{this.country}}</span></div>
                                                <div><span class="address-text">{{this.state}}</span></div>
                                                <div class="pt-3">
                                                    <a href="/checkout/{{this._id}}" class="deliver-to"><span
                                                            class="deliver-to-span">Deliver to this
                                                            address</span></a>
                                                </div>
                                                {{!-- <div class="pt-3">
                                                    <a href="" class="deliver-edit"><span
                                                            class="deliver-edit-span">Edit</span></a>
                                                    <a href="" class="deliver-edit ms-3"><span
                                                            class="deliver-edit-span">Delete</span></a>
                                                </div> --}}
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                   
                        
                   
                </div>
            </div>
        </div>
        
    </div>
</div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #000000">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 text-white font-weight-bold">
                        Company name
                    </h6>
                    <p>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-white">Products</h6>
                    <p>
                        <a class="text-white">MDBootstrap</a>
                    </p>
                    <p>
                        <a class="text-white">MDWordPress</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-white">Contact</h6>
                    <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->



            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

</footer>
<!-- Footer -->
</div>
<!-- End of .container -->
</div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href='#' class='btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top'><i class='bi bi-arrow-up'></i></a>