<style>
    .fa-hert-in {
        color: rgb(255, 255, 255);
        font-size: 17px;
        padding: 8px;
        background-color: rgb(28, 42, 0);
        margin-left: 10px;
        border-radius: 8px;
    }
</style>
<!-- Start Modal Add cart -->
<div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col text-right">
                            <button type="button" class="close modal-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="modal-add-cart-product-img">
                                        <img class="img-fluid" src="assets/images/product/default/home-1/default-1.jpg"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="modal-add-cart-info"><i class="fa fa-check-square"></i>Added to cart
                                        successfully!</div>
                                    <div class="modal-add-cart-product-cart-buttons">
                                        <a href="cart.html">View Cart</a>
                                        <a href="checkout.html">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 modal-border">
                            <ul class="modal-add-cart-product-shipping-info">
                                <li> <strong><i class="icon-shopping-cart"></i> There Are 5 Items In Your
                                        Cart.</strong></li>
                                <li> <strong>TOTAL PRICE: </strong> <span>$187.00</span></li>
                                <li class="modal-continue-button"><a href="#" data-bs-dismiss="modal">CONTINUE
                                        SHOPPING</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Modal Add cart -->


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Products</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="/">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Products</li>

            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Product Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px;">
                    <h1 class="display-5 mb-3">Our Products</h1>
                    <p>Organic food, ecological food or biological food are food and drinks produced by methods
                        complying with the standards of organic farming.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill"
                            href="#tab-1">Fruites</a>
                    </li>
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-2">Vegetable </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">

                    {{#each session.product_data.fruites}}
                    <div class="container  mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-lg-4 radio-group">
                                            <div class="row d-flex px-3 radio">
                                                <img class="pay" src="/{{this.image.[0]}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row px-0">
                                                <div class="form-group ">
                                                    <h1 class="product_text">{{Sub_Category_Name.Sub_Category_Name}}
                                                    </h1>

                                                </div>
                                                <div class="form-group ">
                                                    <p class="d-block h5 " href="">Type: {{this.Product_Name}}</p>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="form-group">
                                                    <p class="d-block h5 " href="">Order Limit:
                                                        {{this.order_limit}}Kg</p>
                                                </div>
                                                <div class="form-group">
                                                    <p class="d-block h5 " href="">Price: ${{this.Product_Prize}}</p>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="form-group">
                                                    <div class=""><a class="cart-btn " data-id="{{this._id}}"
                                                            onclick="shoppingCart(this);"><i
                                                                class="fas fa-shopping-cart pe-2"></i>Add To Cart</a><a
                                                            id="option1" data-id="{{this._id}}"
                                                            onclick="goDoSomething(this);"><i
                                                                class="fas fa-heart fa-hert-in "></i></a></div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h6>Description</h6>
                                        <p>{{this.Product_Description}} </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>{{/each}}

                </div>
            </div>
            <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row g-4">
                    {{#each session.product_data.vegiatable}}
                    <div class="container  mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-lg-4 radio-group">
                                            <div class="row d-flex px-3 radio">
                                                <img class="pay" src="/{{this.image.[0]}}">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="row px-0">
                                                <div class="form-group ">
                                                    <h1 class="product_text">{{Sub_Category_Name.Sub_Category_Name}}
                                                    </h1>

                                                </div>
                                                <div class="form-group ">
                                                    <a class="d-block h5 " href="">Type: {{this.Product_Name}}</a>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="form-group">
                                                    <a class="d-block h5 " href="">Order Limit:
                                                        {{this.order_limit}}Kg</a>
                                                </div>
                                                <div class="form-group">
                                                    <a class="d-block h5 " href="">Price: ${{this.Product_Prize}}</a>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="form-group">
                                                    <div class=""><a class="cart-btn " data-id="{{this._id}}"
                                                            onclick="shoppingCart(this);"><i
                                                                class="fas fa-shopping-cart pe-2"></i>Add To Cart</a><a
                                                            id="option1" data-id="{{this._id}}"
                                                            onclick="goDoSomething(this);"><i
                                                                class="fas fa-heart fa-hert-in "></i></a></div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h6>Description</h6>
                                        <p>{{this.Product_Description}} </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>{{/each}}
                </div>
            </div>

        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start text-white" style="background-color: #000000">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 text-white font-weight-bold">
                        Company name
                    </h6>
                    <p>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-white">Products</h6>
                    <p>
                        <a class="text-white">MDBootstrap</a>
                    </p>
                    <p>
                        <a class="text-white">MDWordPress</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold text-white">Contact</h6>
                    <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->



            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->

</footer>
<!-- Footer -->
</div>
<!-- End of .container -->
</div>
</div>
<!-- Footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>